body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menu-container {
  position: relative;
  display: inline-block;
}

.menu-image {
  max-width: 100%;
  display: block;
}

.button-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.top-left {
  top: 115px; /* légèrement descendu */
  left: 50px; /* déplacé de 15px vers la droite */
}

.center {
  top: 53%; /* légèrement descendu */
  left: 46.7%; /* déplacé vers la gauche */
  transform: translate(-50%, -50%);
}

.top-right {
  top: 120px; /* légèrement descendu */
  right: 55px; /* déplacé de 30px vers la gauche */
}

.bottom-right {
  bottom: 110px; /* remonté de 50px */
  right: 60px;
}

button {
  padding: 6px 10px;
  font-size: 13px;
  background-color: #e0e4f4;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
  text-align: center;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #c7cbe4;
}

.center-button {
  background-color: #012060;
  color: white;
}

.center-button:hover {
  background-color: #061b4e;
}